@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


/*==================== VARIABLES CSS ====================*/

:root {

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-regular: 400;
    --font-light: 300;

    /*========== Font size ==========*/
    --big-font-size: 2.875rem;
    --normal-font-size: 1.125rem;
    --normal-font-size-2: 1rem;
    --small-font-size: .875rem;

    /*========== Margenes ==========*/
    --header-top: 45px;
    --header-bottom: 30px;
    --box-bottom: 16px;
    --button-top: 15px;
    --checkbox-top: 15px;
    --login-top: 20px;
    
    /*========== Width & header ==========*/
    --width-container: 65.53%;
    --width-main: 100%;
    --width-half-box: 49%;
    --width-logo: 120px;
    
    --height-container: 100%;
    --height-main: 264px;
    --height-box: 50px;

}

@media screen and (max-width: 760px) {
    :root {


        /*========== Font size ==========*/
        --big-font-size: 2.25rem;
        --normal-font-size: 0.875rem;
        --normal-font-size-2: 0.875rem;
        --small-font-size: .75rem;

        /*========== Margenes ==========*/
        --header-top: 30px;
        --header-bottom: 20px;
        --box-bottom: 10px;
        --button-top: 5px;
        --login-top: 10px;
        --checkbox-top: 10px;

         /*========== Width & header ==========*/
        --height-main: 264px;
        --height-box: 40px;
    }
}

/*==================== BASE ====================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(306.73deg, #0078D4 12.22%, rgba(10, 39, 103, 0.99) 50.22%, #0167B5 88.65%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/*==================== LAYOUT ====================*/

.container {
    width: var(--width-container);
    max-width: 498px;
    min-width: 301px;
    height: var(--height-container);
    background: #F3F3F3;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*==================== HEADER ====================*/

.header {
    text-align: center;
    padding-top: var(--header-top);
    margin-bottom: var(--header-bottom);
}

.header h1 {
    font-size: var(--big-font-size);
    font-weight: var(--font-medium);
}

.header h3 {
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
}

.header h3 a {
    text-decoration-line: underline;
    color: #4896FF;
}

/*==================== MAIN ====================*/

.main {
    width: var(--width-main);
    justify-content: center;
    display: flex;
}

/*==================== INPUT LAYOUT - FLEXBOX ====================*/

.form {
    width: 80%;
}

.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.inputs li {
    width: 100%;
}

/*==================== INPUT LAYOUT SHORT-RECT ====================*/

.short-rect {
    width: 100%;
}

@media screen and (min-width: 760px) {
    .short-rect {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .short-rect li {
        width: var(--width-half-box);
    }
}

/*==================== INPUT LAYOUT - DESIGN ====================*/

.inputs li input {
    width: 100%;
    height: var(--height-box);
    margin-bottom: var(--box-bottom);
    background: #F3F3F3;
    box-shadow: 0px 0px 4px rgba(63, 62, 62, 0.2);
    border: none;
    border-radius: 6px;
}

.inputs li input:hover, .main ul li input:focus {
    outline: none;
    background: #FDFAFA;
    border-radius: 6px;
}

.inputs li input::placeholder{
    font-size: var(--normal-font-size-2);
    font-weight: var(--font-regular);
    color: #999898;
}

.inputs li input {
    padding-left: 19px;
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    color: #121212;
}

/*==================== BUTTON CRIAR CONTA ====================*/

.inputs .button-submit, .inputs .button-submit:hover {
    margin-top: var(--button-top);
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    background: #4896FF url(../img/arrow-right.svg) no-repeat right center;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}   

.inputs .button-submit:active {
    background: #6da8f5;
}

.icon-arrow {
    color: #FFFFFF;
}

/*==================== CHECKBOX ====================*/

.container-button {
    width: 80%;
    cursor: pointer;
    margin-top: var(--checkbox-top);
    margin-bottom: 30px;
}

.button-check {
    margin-left: 6px;
    font-size: var(--small-font-size);
    font-weight: var(--font-light);
}

.text-blue {
    color: #4896FF;
}

/*==================== OTHERS LOGIN ====================*/

.login-others {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: var(--login-top);
    margin-bottom: 30px;
    width: 80%;
}

.login-others h4 {
    align-self: center;
    margin-bottom: 15px;
    font-size: var(--normal-font-size-2);
    font-weight: var(--font-regular);
}

.login-others-logo {
    width: var(--width-logo);
    display: flex;
    justify-content: space-between;
}